# Bybit Testnet API credentials
BYBIT_API_KEY=""
BYBIT_API_SECRET=""

# Telegram notifications (optional)
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""

# Active strategy
ACTIVE_STRATEGY="btcusdt_spot_60_trend_following" # eth_linear,  etc. config/strategies/<strategy>.yaml file name
TESTNET=true
DRY_RUN=true
RISK_PER_TRADE="0.02" # 2% от капитала на сделку
MAX_DAILY_LOSS="0.05" # Автоматическая остановка при -5% за день